<div class="sidebar-dashboard">
    <div class="db-logo">
        <a href="/index"><img src="assets/images/favico.png" alt="Logo"><span>NiceHome</span></a>
    </div>
    <div class="db-menu">
        <ul>
            <li>
                <a href="/admin">
                    <i class="icon-Vector-9"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/manageaccount">
                    <i class="icon-Layer-2"></i>
                    <span>Quản Lí Tài Khoản</span>
                </a>
            </li>
            <li>
                <a href="/admin/accepthomestay">
                    <i class="icon-Group-81"></i>
                    <span>Duyệt homestay</span>
                </a>
            </li>
            <li>
                <a href="/admin/managehomestay">
                    <i class="icon-Group-91"></i>
                    <span>Quản Lí Homestay</span>
                </a>
            </li>
            <li>
                <a href="/admin/managebooking">
                    <i class="icon-Vector-10"></i>
                    <span>Quản lí booking</span>
                </a>
            </li>
            <li>
                <a href="/admin/managecategory">
                    <i class="icon-profile-user-1"></i>
                    <span>Quản lí Category</span>
                </a>
            </li>
            <li>
                <a href="login.html">
                    <i class="icon-turn-off-1"></i>
                    <span>Logout</span>
                </a>
            </li>

        </ul>


    </div>

</div>