           <!-- Main Header -->
           <header class="main-header flex">
            <!-- Header Lower -->
            <div id="header">
                <div class="header-lower">
                    <div class="tf-container full">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="inner-container flex justify-space align-center">
                                    <!-- Logo Box -->
                                    <div class="mobile-nav-toggler mobie-mt mobile-button">
                                        <i class="icon-Vector3"></i>
                                    </div>
                                    <div class="logo-box">
                                        <div class="logo">
                                            <a href="index.html">
                                                <img src="/global/assets/images/logo.png" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="nav-outer flex align-center">
                                        <!-- Main Menu -->
                                        <nav class="main-menu show navbar-expand-md">
                                            <div class="navbar-collapse collapse clearfix"
                                                id="navbarSupportedContent">
                                                <ul class="navigation clearfix">
                                                    <li><a href="/">Home</a></li>
                                                    <li class="dropdown2">
                                                        <a href="#">Category</a>
                                                        <ul>
                                                            <li><a href="archieve-tour.html">Archieve tour</a>

                                                            </li>
                                                            <li><a href="tour-package-v2.html">Tour left sidebar</a>

                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown2"><a href="#">Location</a>
                                                        <ul>
                                                            <li><a href="tour-destination-v1.html">Destination
                                                                    V1</a></li>
                                                            <li><a href="tour-destination-v2.html">Destination
                                                                    V2</a></li>
                                                            <li><a href="tour-destination-v3.html">Destination
                                                                    V3</a></li>
                                                            <li><a href="single-destination.html">Destination
                                                                    Single</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown2 "><a href="#">Blog</a>
                                                        <ul>
                                                            <li><a href="blog.html">Blog</a></li>
                                                            <li><a href="blog-details.html">Blog Detail</a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="dropdown2"><a href="#">About</a>
                                                        <ul>
                                                            <li><a href="terms-condition.html">Terms & Condition</a>
                                                            </li>
                                                            <li><a href="help-center.html">Help center</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="contact-us.html">Contact</a></li>
                                                </ul>
                                            </div>
                                        </nav>
                                        <!-- Main Menu End-->
                                    </div>
                                    <div class="header-account flex align-center">                                       
                                        <div class="search-mobie relative">
                                            <div class="dropdown">
                                                <a  type="button" class="show-search" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="icon-Vector5"></i>
                                                </a>
                                                <ul class="dropdown-menu top-search">
                                                    <form action="/" id="search-bar-widget">
                                                        <input type="text" placeholder="Search here...">
                                                        <button type="button"><i class="icon-search-2"></i></button>
                                                    </form>
                                                </ul>
                                              </div>                                             
                                        </div>
                                        <div class="register">
                                            <ul class="flex align-center">
                                                <li>
                                                    <a href="login.html" class="flex-three">
                                                       <img src="/global/assets/images/page/avata.jpg" alt="image">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="/global/assets/images/page/fl1.png" alt="" class="fly-ab">
                </div>
            </div>

            <!-- End Header Lower -->
            <a href="#" class="header-sidebar flex-three" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="icon-Bars"></i>
            </a>

        </header>
        <!-- End Main Header -->

