<div class="sidebar-dashboard">
    <div class="db-logo">
        <a href="index.html"><img src="assets/images/favico.png" alt="Logo"><span>Vitour</span></a>
    </div>
    <div class="db-menu">
        <ul>
            <li>
                <a href="dashboard.html">
                    <i class="icon-Vector-9"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="my-booking.html">
                    <i class="icon-Layer-2"></i>
                    <span>My Booking</span>
                </a>
            </li>
            <li>
                <a href="my-listing.html">
                    <i class="icon-Group-81"></i>
                    <span>My Listing</span>
                </a>
            </li>
            <li class="active">
                <a href="/host/createhomestay">
                    <i class="icon-Group-91"></i>
                    <span>Add Tour</span>
                </a>
            </li>
            <li>
                <a href="my-favorite.html">
                    <i class="icon-Vector-10"></i>
                    <span>My Favorites</span>
                </a>
            </li>
            <li>
                <a href="my-profile.html">
                    <i class="icon-profile-user-1"></i>
                    <span>My Profile</span>
                </a>
            </li>
            <li>
                <a href="login.html">
                    <i class="icon-turn-off-1"></i>
                    <span>Logout</span>
                </a>
            </li>

        </ul>


    </div>

</div>