<div class="sidebar-dashboard">
    <div class="db-logo">
        <a href="index.html"><img src="assets/images/favico.png" alt="Logo"><span>NiceHome</span></a>
    </div>
    <div class="db-menu">
        <ul>
            <li>
                <a href="/host">
                    <i class="icon-Vector-9"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/host/bookingconfirm">
                    <i class="icon-Layer-2"></i>
                    <span>Xác nhận đặt phòng</span>
                </a>
            </li>
            <li>
                <a href="/host/myhomestay">
                    <i class="icon-Group-81"></i>
                    <span>Homestay Của Tôi</span>
                </a>
            </li>
            <li>
                <a href="/host/createhomestay">
                    <i class="icon-Group-91"></i>
                    <span>Add Tour</span>
                </a>
            </li>
            <li>
                <a href="/host/rentalhistory">
                    <i class="icon-Vector-10"></i>
                    <span>Lịch Sử Cho Thuê</span>
                </a>
            </li>
            <li>
                <a href="/host/profile">
                    <i class="icon-profile-user-1"></i>
                    <span>My Profile</span>
                </a>
            </li>
            <li>
                <a href="login.html">
                    <i class="icon-turn-off-1"></i>
                    <span>Logout</span>
                </a>
            </li>

        </ul>


    </div>

</div>