<div class="sidebar-dashboard">
    <div class="db-logo">
        <a href="index.html"><img src="assets/images/favico.png" alt="Logo"><span>Vitour</span></a>
    </div>
    <div class="db-menu">
        <ul>
            <li>
                <a href="/user/profile">
                    <i class="icon-Vector-9"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="/user/booking">
                    <i class="icon-Layer-2"></i>
                    <span>My Booking</span>
                </a>
            </li>
            <li>
                <a href="/user/payment">
                    <i class="icon-Group-81"></i>
                    <span>Thanh toán</span>
                </a>
            </li>
            <li class="active">
                <a href="/user/bookinghistory">
                    <i class="icon-Group-91"></i>
                    <span>Lịch sử đặt phòng</span>
                </a>
            </li>
            <li>
                <a href="/user/favoritehomestay">
                    <i class="icon-Vector-10"></i>
                    <span>My Favorites</span>
                </a>
            </li>
            <li>
                <a href="login.html">
                    <i class="icon-turn-off-1"></i>
                    <span>Logout</span>
                </a>
            </li>

        </ul>


    </div>

</div>