<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Vitour - Travel & Tour Booking HTML Template</title>

    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="global/app/css/app.css">
    <link rel="stylesheet" type="text/css" href="global/app/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="global/app/css/jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="global/app/css/textanimation.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="global/assets/images/favico.png">
    <link rel="apple-touch-icon-precomposed" href="global/assets/images/favico.png">

    
</head>

<body class="body header-fixed counter-scroll">
    <div id="wrapper">
        <div id="pagee" class="clearfix">
            <main id="main">
                <!-- Widget Slider -->
                <section class="slider relative">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="slider-home1 relative overflow-hidden swiper-slide">
                                <div class="silider-image">
                                    <img src="./global/assets/images/slide/slide1.jpg" alt="Image" class="image-slide">
                                    <img src="./global/assets/images/slide/mask-slide.png" alt="Image"
                                        class="mask-slide">
                                    <img src="./global/assets/images/slide/mask-fly.png" alt="Image" class="mask-flane">
                                    <div class="booking-title tf-anime-rorate">
                                        <p class="booking">Booking</p>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="slider-content">
                                    <div class="tf-container">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <span
                                                    class="sub-title text-main font-yes fs-28-46 fadeInDown wow">Explore
                                                    the
                                                    world</span>
                                                <h1 class="title-slide text-white mb-32 fadeInDown wow">Tour Travel &
                                                    adventure
                                                    <span class="animationtext clip text-main">
                                                        <span class="cd-words-wrapper">
                                                            <span class="item-text is-visible">Camping</span>
                                                            <span class="item-text is-hidden">Camping</span>
                                                        </span>
                                                    </span>
                                                </h1>
                                                <p class="des text-white mb-45 fadeInDown wow">Welcome to our Print 128
                                                    website! We are
                                                    a
                                                    professional and reliable printing
                                                    company that offers a wide range of printing services to
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-home1 relative overflow-hidden swiper-slide">
                                <div class="silider-image">
                                    <img src="./global/assets/images/slide/slide1.jpg" alt="Image" class="image-slide">
                                    <img src="./global/assets/images/slide/mask-slide.png" alt="Image"
                                        class="mask-slide">
                                    <img src="./global/assets/images/slide/mask-fly.png" alt="Image" class="mask-flane">
                                    <div class="booking-title tf-anime-rorate">
                                        <p class="booking">Booking</p>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="slider-content">
                                    <div class="tf-container">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <span
                                                    class="sub-title text-main font-yes fs-28-46 fadeInDown wow">Explore
                                                    the
                                                    world</span>
                                                <h1 class="title-slide text-white mb-32 fadeInDown wow">Tour Travel &
                                                    adventure
                                                    <span class="animationtext clip text-main">
                                                        <span class="cd-words-wrapper">
                                                            <span class="item-text is-visible">Camping</span>
                                                            <span class="item-text is-hidden">Camping</span>
                                                        </span>
                                                    </span>
                                                </h1>
                                                <p class="des text-white mb-45 fadeInDown wow">Welcome to our Print 128
                                                    website! We are
                                                    a
                                                    professional and reliable printing
                                                    company that offers a wide range of printing services to
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-home1 relative overflow-hidden swiper-slide">
                                <div class="silider-image">
                                    <img src="./global/assets/images/slide/slide1.jpg" alt="Image" class="image-slide">
                                    <img src="./global/assets/images/slide/mask-slide.png" alt="Image"
                                        class="mask-slide">
                                    <img src="./global/assets/images/slide/mask-fly.png" alt="Image" class="mask-flane">
                                    <div class="booking-title tf-anime-rorate">
                                        <p class="booking">Booking</p>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="slider-content">
                                    <div class="tf-container">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <span
                                                    class="sub-title text-main font-yes fs-28-46 fadeInDown wow">Explore
                                                    the
                                                    world</span>
                                                <h1 class="title-slide text-white mb-32 fadeInDown wow">Tour Travel &
                                                    adventure
                                                    <span class="animationtext clip text-main">
                                                        <span class="cd-words-wrapper">
                                                            <span class="item-text is-visible">Camping</span>
                                                            <span class="item-text is-hidden">Camping</span>
                                                        </span>
                                                    </span>
                                                </h1>
                                                <p class="des text-white mb-45 fadeInDown wow">Welcome to our Print 128
                                                    website! We are
                                                    a
                                                    professional and reliable printing
                                                    company that offers a wide range of printing services to
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-nex-prev">
                            <div class="swiper-button-next  next-home1"></div>
                            <div class="swiper-button-prev  prev-home1"></div>
                        </div>
                    </div>
                </section>
                <!-- Widget Slider -->

                <!-- Widget Select Form -->
                <div class="mt--82 z-index4 relative fadeInUp wow">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="search-form-widget-slider relative">
                                    <form id="search-form-slider">
                                        <div class="flex wd-search">
                                            <!-- Destination -->
                                            <div class="form-group flex">
                                                <i class="icon-18"></i>
                                                <div class="search-bar-group">
                                                    <label>Destination</label>
                                                    <input type="text" id="destination" name="destination" placeholder="Nhập điểm đến" autocomplete="off" />
                                                    <ul id="suggestions-list" class="suggestions-list"></ul>
                                                </div>
                                            </div>
                                    
                                            <!-- Price Min -->
                                            <div class="form-group flex">
                                                <i class="icon-money"></i>
                                                <div class="search-bar-group">
                                                    <label>Giá tối thiểu</label>
                                                    <input type="number" name="price-min" id="price-min" value="0" placeholder="Min price" />
                                                </div>
                                            </div>
                                    
                                            <!-- Price Max -->
                                            <div class="form-group flex">
                                                <i class="icon-money"></i>
                                                <div class="search-bar-group">
                                                    <label>Giá tối đa</label>
                                                    <input type="number" name="price-max" id="price-max" value="10000" placeholder="Max price" />
                                                </div>
                                            </div>
                                    
                                            <!-- Guests -->
                                            <div class="form-group flex">
                                                <i class="icon-user"></i>
                                                <div class="search-bar-group">
                                                    <label>Khách</label>
                                                    <input type="number" name="guests" id="guests" value="0" placeholder="Number of guests" />
                                                </div>
                                            </div>
                                    
                                            <!-- Number of Rooms -->
                                            <div class="form-group flex">
                                                <i class="icon-room"></i>
                                                <div class="search-bar-group">
                                                    <label>Số phòng</label>
                                                    <input type="number" name="rooms" id="rooms" value="1" placeholder="Number of rooms" />
                                                </div>
                                            </div>
                                    
                                            <!-- Number of Beds -->
                                            <div class="form-group flex">
                                                <i class="icon-bed"></i>
                                                <div class="search-bar-group">
                                                    <label>Số giường</label>
                                                    <input type="number" name="beds" id="beds" value="1" placeholder="Number of beds" />
                                                </div>
                                            </div>
                                    
                                            <!-- Search Button -->
                                            <div class="form-group flex-two">
                                                <button type="submit" class="btn-search"><i class="icon-Vector5"></i>Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Widget Select Form -->

                <!-- Widget Tourpackage -->
                <section class="tour-package pd-main">
                    <div class="tf-container w-1456">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tab-tour-list">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="new-york-tab-pane" role="tabpanel" aria-labelledby="new-york-tab" tabindex="0">
                                            <div id="homestay-container"></div> <!-- Container để thêm homestay -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
        </section>
        <!-- Widget Tourpackage -->

        </main>
    </div>
    </div>


<script>
document.getElementById('search-form-slider').addEventListener('submit', async function (event) {
    event.preventDefault(); // Ngăn không reload trang

    // Thu thập dữ liệu từ form
    const location = document.getElementById('destination').value.trim();
    const priceMin = document.getElementById('price-min').value.trim();
    const priceMax = document.getElementById('price-max').value.trim();
    const guests = document.getElementById('guests').value.trim();
    const rooms = document.getElementById('rooms').value.trim();
    const beds = document.getElementById('beds').value.trim();

    // Chuẩn bị dữ liệu query
    const queryParams = new URLSearchParams();
    if (location) queryParams.append('location', location);
    if (priceMin) queryParams.append('price_min', priceMin);
    if (priceMax) queryParams.append('price_max', priceMax);
    if (guests) queryParams.append('max_guests', guests);
    if (rooms) queryParams.append('rooms', rooms);
    if (beds) queryParams.append('beds', beds);

    // Gửi request đến API
    try {
        const response = await fetch(`http://localhost:3000/api/searchhomestay?${queryParams.toString()}`);
        const homestays = await response.json();

        // Hiển thị dữ liệu trả về
        displayHomestays(homestays);
    } catch (error) {
        console.error('Error fetching homestays:', error);
        document.getElementById('homestay-container').innerHTML = '<p>Failed to load homestays. Please try again later.</p>';
    }
});

// Hàm hiển thị danh sách homestay
function displayHomestays(homestays) {
    const container = document.getElementById('homestay-container');
    container.innerHTML = ''; // Reset nội dung cũ

    if (!homestays || homestays.length === 0) {
        container.innerHTML = '<p>No homestays found.</p>';
        return;
    }

    let row; // Hàng hiển thị homestay
    homestays.forEach((homestay, index) => {
        // Tạo hàng mới sau mỗi 4 homestay
        if (index % 4 === 0) {
            row = document.createElement('div');
            row.classList.add('row');
            container.appendChild(row);
        }

        // Lấy hình ảnh đầu tiên từ danh sách hình ảnh
        const images = homestay.images.split(',');
        const firstImage = images[0]?.trim() || './global/assets/images/default-image.jpg';

        const locationParts = homestay.location.split(',').map(part => part.trim());
        const shortLocation = locationParts.slice(-2).join(', ');

        // Tạo HTML cho mỗi homestay
        const homestayHTML = `
            <div class="col-sm-6 col-lg-3">
                <div class="tour-listing wow fadeInUp animated" data-wow-delay="0.1s">
                    <a href="/roomdetail/${homestay.homestay_id}" class="tour-listing-image">
                        <img src="${firstImage}" alt="Image Listing">
                    </a>
                    <div class="tour-listing-content">
                        <span class="map"><i class="icon-Vector4"></i>${shortLocation}</span>
                        <h3 class="title-tour-list"><a href="/roomdetail/${homestay.homestay_id}">${homestay.name}</a></h3>
                        <div class="review">
                            ${generateStars(homestay.rating || 0)} <span>(${homestay.review_count || 0} Reviews)</span>
                        </div>
                        <div class="icon-box flex-three">
                            <div class="icons flex-three">
                                <span>${homestay.max_guests} Guests</span>
                            </div>
                        </div>
                        <div class="flex-two">
                            <div class="price-box flex-three">
                                <p><span class="price-sale">${homestay.price} VND</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `;

        // Thêm HTML vào hàng hiện tại
        row.innerHTML += homestayHTML;
    });
}

// Hàm tạo sao đánh giá
function generateStars(rating) {
    let starsHTML = '';
    for (let i = 1; i <= 5; i++) {
        starsHTML += `<i class="icon-Star ${i <= rating ? 'active' : ''}"></i>`;
    }
    return starsHTML;
}

</script>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="global/app/js/jquery.min.js"></script>
    <script src="global/app/js/jquery.nice-select.min.js"></script>
    <script src="global/app/js/bootstrap.min.js"></script>
    <script src="global/app/js/swiper-bundle.min.js"></script>
    <script src="global/app/js/swiper.js"></script>
    <script src="global/app/js/plugin.js"></script>
    <script src="global/app/js/count-down.js"></script>
    <script src="global/app/js/countto.js"></script>
    <script src="global/app/js/jquery.fancybox.js"></script>
    <script src="global/app/js/jquery.magnific-popup.min.js"></script>
    <script src="global/app/js/price-ranger.js"></script>
    <script src="global/app/js/textanimation.js"></script>
    <script src="global/app/js/wow.min.js"></script>
    <script src="global/app/js/shortcodes.js"></script>
    <script src="global/app/js/main.js"></script>

</body>

</html>